{% extends 'base.html' %}

{% block title %}<title>Edit Task</title>{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if item %}
      <form class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="text" placeholder="{{item.item}}" value="{{item.item}}"aria-label="Search" name="item">
        <textarea rows="1" cols="50" class="form-control mr-sm-2" type="text" value="{{item.description}}" aria-label="Search" name="description">{{item.description}}</textarea>
        <input type="hidden" value="{{item.completed}}" name="{{item.completed}}">
        <input type="hidden" value="{{item.creator}}" name="{{item.creator}}">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit Task</button>
        </form>
      {% endif %}
  {% else %}
  <meta http-equiv="refresh" content="0.1; URL=/login">
  <meta name="keywords" content="automatic redirection">
  {% endif %}
{% endblock %}
