{% extends 'base.html' %}

{% block title %}<title>Task List Manager</title>{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if messages %}
      {% for message in messages %}
        <div class= "alert alert-warning alert dismissable" role="alert">
          <button class="close" data-dismiss="alert">
            <small><sup>x</sup></small>
          </button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

      {% if all_items %}
        <table class="table table-bordered">
          <th>Task Item</th>
          <th>Description</th>
          <th>Created By</th>
          <th colspan="3" ><center>Manage</center></th>
        {% for things in all_items %}
          {% if things.completed %}
            {% if hidden is False %}
              <tr class="table-secondary">
                  <td>{{things.item}}</td>
                  <td>{{things.description}}</td>
                  <td>{{things.creator}}</td>
                  {% if things in own_items %}
                    <td><center><a class="nav-link" href="{% url 'edit' things.id %}">Edit</a></center></td>
                    <td><center><a class="nav-link" href="{% url 'reopen' things.id %}">Re-Open</a></center><a><center>Closed by: {{things.completed_by}}</center></a></td>
                    <td><center><a class="nav-link" href="{% url 'delete' things.id %}">Delete</a></center></td>
                  {% else %}
                    <td><center><a class="nav-link disabled" href="#">Edit</a></center></td>
                    <td><center><a class="nav-link" href="{% url 'reopen' things.id %}">Re-Open</a></center><a><center>Closed by: {{things.completed_by}}</center></a></td>
                    <td><center><a class="nav-link disabled" href="#">Delete</a></center></td>
                  {% endif %}
              </tr>
            {% endif %}
          {% else %}

            <tr>
                <td>{{things.item}}</td>
                <td>{{things.description}}</td>
                <td>{{things.creator}}</td>
                {% if things in own_items %}
                  <td><center><a class="nav-link" href="{% url 'edit' things.id %}">Edit</a></center></td>
                  <td><center><a class="nav-link" href="{% url 'completed' things.id %}">Complete</a></center></td>
                  <td><center><a class="nav-link" href="{% url 'delete' things.id %}">Delete</a></center></td>
                {% else %}
                  <td><center><a class="nav-link disabled" href="#">Edit</a></center></td>
                  <td><center><a class="nav-link" href="{% url 'completed' things.id %}">Complete</a></center></td>
                  <td><center><a class="nav-link disabled" href="#">Delete</a></center></td>
                {% endif %}
            </tr>

          {% endif %}
        {% endfor %}
        </table>
      {% endif %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
         <li class="nav-item active">
          {% if hidden is False %}
            <form action="{% url 'hide' %}">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" >Hide Completed Tasks</button>
            </form>
          {% else %}
            <form action="{% url 'unhide' %}">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" >Show Completed Tasks</button>
            </form>
          {% endif %}
         </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="POST">
            {% csrf_token %}
          <input type="hidden" name="creator" value={{user.username}} readonly><br>
          <input class="form-control mr-sm-2" type="search" placeholder="Add Item" aria-label="Search" name="item">
          <input class="form-control mr-sm-2" type="search" placeholder="Add description" aria-label="Search" name="description">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add To List</button>
        </form>
      </nav>
    {% else %}
      <center><p>You are not logged in</p></center>
      <center><a href="{% url 'login' %}">login</a></center>
    {% endif %}



{% endblock %}
