{% extends 'base.html' %}

{% block title %}<title>Log In</title>{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <meta http-equiv="refresh" content="0.1; URL=/">
  <meta name="keywords" content="automatic redirection">
  {% else %}
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
    <br>
    <a href="{% url 'signup' %}">Sign Up<a>
  {% endif %}
{% endblock %}
